<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.theday.couple.dao.CoupleDAO">
 	<select id="countUser" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`couple`
 		WHERE
 			(userid1 = #{userId1} OR userid2 = #{userId2})
 			AND state = '성공'
 	</select>
 	
 	<select id="existSelectedUser" resultType="int">
 		SELECT
 			COUNT(1)
 		FROM
 			COUPLE
 		WHERE
 			USERID1=#{userId} 
 	</select>
 	
 	<insert id="insertCouple">
 		INSERT INTO `couple`
 		(
	 		`userId1`
			,`userId2`
 		)
 		VALUES
 		(
 			#{userId1}
 			,#{userId2}
 		)
 	</insert>
 	
  	<select id="selectCouple" resultType="com.theday.couple.model.Couple">
 		SELECT
 			c.id
			,`userId1`
			,`userId2`
			,`state`
			,c.createdAt
			,c.updatedAt
			,u1.id "u1.id",u1.NAME "u1.name", u1.birth "u1.birth", u1.profileimagepath "u1.profileimagepath", date_format(u1.date,'%Y-%m-%d') "u1.date"
			,u2.id "u2.id", u2.NAME "u2.name", u2.birth "u2.birth", u2.profileimagepath "u2.profileimagepath", u2.date "u2.date"
 		FROM
 			`couple` c,
 			user u1,
 			user u2
		WHERE 
		(USERID1=#{userId}
		OR USERID2=#{userId})
		and u1.id = userid1
		and u2.id = userid2
 	</select>
 	
 	
 	<update id="updateCouple" >
 		UPDATE `couple`
 		SET
	 	<!-- 	`userId1` = #{userId1}
			,`userId2` = #{userId2} -->
 			`state`= '성공'
 			,`updatedAt`= NOW()
		WHERE 
 			`userId1` = #{userId1}
 	</update>
 	
 	<delete id="deleteCouple">
 		DELETE 
 		FROM `couple`
 		WHERE 
 			`userId2` = #{userId2}
 	</delete>
 	
 	<delete id="deleteCouple2">
 		DELETE 
 		FROM `couple`
 		WHERE 
 			`userId1` = #{userId1}
 	</delete>
 </mapper>