<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.theday.post.dao.PostDAO">
 	<insert id="insertPost">
 		INSERT INTO `post`
 		(
			userId
			,content
			,imagePath
			,createdAt
			,updatedAt
 		)
 		values
 		(
 			#{userId}
 			,#{content}
 			,#{imagePath}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectPostList" resultType="com.theday.post.model.Post">
 		SELECT
	 		`id`
			,`userId`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`post`p,
 			(SELECT userId1, userId2 FROM couple
			 where
			 userId1=#{userId}
			 OR 
			 userId2=#{userId}) u
		where
			p.userId=u.userId1
			OR p.userId = u.userId2
 		ORDER BY `id` DESC;
 	</select>
 	
 	<delete id="deletePostById">
 		DELETE 
 		FROM `post`
 		WHERE
 			`id` = #{id}
 	</delete>

 </mapper>