<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.theday.user.dao.UserDAO">
 	<insert id="insertUser">
 		INSERT INTO `user`
 		(
	 		`loginId`
	 		,`password`
	 		,`name`
	 		,`birth`
	 		,`gender`
	 		,`profileImagePath`
	 		,`date`
	 		,`createdAt`
	 		,`updatedAt`
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{birth}
 			,#{gender}
 			,#{profileImagePath}
 			,#{date}
 			,NOW()
 			,NOW()
 		)
 		
 	</insert>
 	
 	<select id="existLoginId" parameterType="String" resultType="boolean">
 		SELECT
 			COUNT(*)
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId}
 	</select>
 	
 	<select id="selectUserByLoginIdPassword" parameterType="map" resultType="com.theday.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
	 		,`password`
	 		,`name`
	 		,`birth`
	 		,`gender`
	 		,`profileImagePath`
	 		,`date`
	 		,`createdAt`
	 		,`updatedAt`
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId}
 			AND `password` = #{password}
 	</select>
 	
 	<select id="selectUserListById"  resultType="com.theday.user.model.User" >
 		SELECT
 			`id`
 			,`loginId`
	 		,`password`
	 		,`name`
	 		,`birth`
	 		,`gender`
	 		,`profileImagePath`
	 		,`date`
	 		,`createdAt`
	 		,`updatedAt`
 		FROM
 			`user`
 		<where>
 			<if test='loginId != null and loginId != ""'>
 				AND loginId = #{loginId}
 			</if>
 		</where>
 	</select>
 	
 	<select id="selectUserByLoginId" resultType="com.theday.user.model.User" parameterType="String">
 		SELECT
 			`id`
 			,`loginId`
	 		,`password`
	 		,`name`
	 		,`birth`
	 		,`gender`
	 		,`profileImagePath`
	 		,`date`
	 		,`createdAt`
	 		,`updatedAt`
 		FROM
 			`user` U
 		WHERE
 			`loginId` like concat('%', #{loginId},'%')
 			and loginId != #{sessionLoginId}
 			AND  NOT EXISTS(SELECT 1 FROM couple c WHERE (u.id=c.userid1
 			OR u.id=c.userid2) AND state ='성공')
 	</select>
 	
 	<update id="updateUser">
 		UPDATE `user`
 		SET
			`loginId` = #{loginId}
			,`password` = #{password}
			,`name` = #{name}
			,`birth` = #{birth}
			,`gender` = #{gender}
			,`profileImagePath` = #{profileImagePath}
			,`date` = #{date}
			,`updatedAt` = NOW()
 		WHERE
 			`loginId` = #{loginId} 
 	</update>
 	
 	<select id="selectUserCouple1" resultType="com.theday.user.model.User"> 
	 	SELECT user.* FROM `user`
 		join `couple`
 		on  user.id = couple.userId2 
 		where
 			userId1 = #{userId} 
 	</select>
 	
 	
 	
 	<select id="selectUserCouple2" resultType="com.theday.user.model.User"> 
	 	SELECT user.* FROM `user`
 		join `couple`
 		on  user.id = couple.userId1 
 		where
 			userId2 = #{userId}
 	</select>
 	
 	<select id="selectUserByUserId" resultType="com.theday.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
	 		,`password`
	 		,`name`
	 		,`birth`
	 		,`gender`
	 		,`profileImagePath`
	 		,`date`
	 		,`createdAt`
	 		,`updatedAt`
 		FROM
 			`user`
 		WHERE
 			`id` = #{id}
 	</select>
 </mapper>